<%- model_class = Certification -%>
<div class="page-header">
  <h1><%=t '.title', :default => Certification %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:certification_name) %></th>
      <th><%= model_class.human_attribute_name(:certification_type) %></th>
      <th><%= model_class.human_attribute_name(:certification_provider) %></th>
      <th><%= model_class.human_attribute_name(:certification_issued) %></th>
      <th><%= model_class.human_attribute_name(:certification_expiry) %></th>
      <th><%= model_class.human_attribute_name(:certification_description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.id %></td>
        <td><%= certification.certification_name %></td>
        <td><%= certification.certification_type %></td>
        <td><%= certification.certification_provider %></td>
        <td><%= certification.certification_issued %></td>
        <td><%= certification.certification_expiry %></td>
        <td><%= certification.certification_description %></td>
        <td><%=l certification.created_at, format: :long %></td>
        <td>
          <%= link_to certification_path(certification), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to certification_path(certification), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_certification_path,
            :class => 'btn btn-primary' %>
